# Контрольная работа
Самединов Арслан

In [4]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

## Задача 1

In [18]:
df_labour = pd.read_csv('C:\Users\stud.LIMM\Downloads\Econometrica-master\python-notebooks\data-csv\Labour.csv')
df_labour.head()

     capital  labour     output       wage
0   2.606563     184   9.250759  43.080307
1   1.323237      91   3.664310  27.780016
2  22.093692     426  28.781516  44.467748
3  10.737851      72   4.124642  39.734710
4   1.161365      46   2.890150  34.650709

In [19]:
# специфицируем модель через формулу
output_eq1 = smf.ols(formula='np.log(output)~np.log(capital)+np.log(wage)', data=df_labour).fit()
# Коэфициенты модели с округление
output_eq1.params.round(2)

Intercept         -1.94
np.log(capital)    0.51
np.log(wage)       0.88
dtype: float64

## Задача 2

In [20]:
df_sleep = pd.read_csv('C:\Users\stud.LIMM\Downloads\Econometrica-master\python-notebooks\data-csv\sleep75.csv')
df_sleep.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

In [21]:
# специфицируем модель через формулу
sleep_eq1 = smf.ols(formula='sleep~totwrk+male+marr+south', data=df_sleep).fit()
# Коэфициенты модели с округление
sleep_eq1.params.round(2)

Intercept    3525.85
totwrk         -0.17
male           88.63
marr           36.87
south         116.31
dtype: float64

In [22]:
R2 = sleep_eq1.rsquared
R2_adj = sleep_eq1.rsquared_adj
print("R2 =", R2.round(3))
print("R2_adj =", R2_adj.round(3))

R2 = 0.123
R2_adj = 0.118

## Задача 3

In [23]:
df_wage = pd.read_csv('C:\Users\stud.LIMM\Downloads\Econometrica-master\python-notebooks\data-csv\wage2.csv')
df.head()

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502

In [24]:
# специфицируем модель через формулу
wage_eq1 = smf.ols(formula='np.log(wage)~age+south+urban', data=df_wage).fit()
# Коэфициенты модели с округление
wage_eq1.params.round(3)

Intercept    5.997
age          0.021
south       -0.151
urban        0.174
dtype: float64

In [25]:
TSS = wage_eq1.centered_tss
ESS = wage_eq1.ess
RSS = wage_eq1.ssr
print("TSS =", TSS.round(2))
print("ESS =", ESS.round(2))
print("RSS =", RSS.round(2))

TSS = 165.66
ESS = 16.0
RSS = 149.66

## Задача 4

In [32]:
# Подгонка модели
labour_eq = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)', data=df_labour).fit()
labour_eq.params.round(2)

Intercept         -5.01
np.log(capital)    0.15
np.log(labour)     0.72
np.log(wage)       0.92
dtype: float64

In [33]:
# Фактичечкое
np.log(df_labour["output"][466]).round(3)

1.271

In [34]:
# Предсказанные
labour_eq.fittedvalues[466].round(3)

1.342

In [36]:
# Остатки
labour_eq.resid[466].round(3)

-0.07